<!-- app/views/shared/_sidebar.html.erb -->

<!-- Sidebar Toggle Button (Visible on Small Screens) -->
<nav class="navbar navbar-dark bg-dark d-lg-none">
  <div class="container-fluid">
    <button class="btn text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarOffcanvas" aria-controls="sidebarOffcanvas">
      ☰ Menu
    </button>
  </div>
</nav>

<!-- Offcanvas Sidebar for Small Screens -->
<div class="offcanvas offcanvas-start bg-dark text-white" tabindex="-1" id="sidebarOffcanvas" aria-labelledby="sidebarOffcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidebarOffcanvasLabel">
      <a class="navbar-brand text-white" href="<%= root_path %>">Bitewheels</a>
    </h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <!-- Navigation Links -->
    <ul class="nav flex-column">
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link text-white" href="<%= events_path %>">Events</a>
        </li>
        <% if current_user.foodtruckowner? %>
          <li class="nav-item">
            <a class="nav-link text-white" href="<%= food_trucks_path %>">Food Trucks</a>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item">
          <a class="nav-link text-white" href="<%= root_path %>">Home</a>
        </li>
      <% end %>

      <!-- Account Dropdown -->
      <li class="nav-item dropdown mt-3">
        <a class="nav-link dropdown-toggle text-white" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Account
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <% if current_user %>
            <li><a class="dropdown-item" href="<%= user_profile_path %>">View Profile</a></li>
            <li>
              <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </li>
          <% else %>
            <li><a class="dropdown-item" href="<%= new_user_registration_path %>">Sign Up</a></li>
            <li><a class="dropdown-item" href="<%= new_user_session_path %>">Log In</a></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>

<!-- Fixed Sidebar for Large Screens -->
<div class="d-none d-lg-block bg-dark text-white p-3" style="width: 250px; height: 100vh; position: relative; top: 0; left: 0;">
  <!-- Brand -->
  <h4 class="mb-4">
    <a class="navbar-brand text-white" href="<%= root_path %>">Bitewheels</a>
  </h4>

  <!-- Main Navigation Links -->
  <ul class="nav flex-column">
    <% if current_user %>
     <% if current_user&.foodtruckowner? %>
    <li class="nav-item ">
     <a class="nav-link text-white" href="">Credits: <strong><%= current_user.credits %></strong></a>
      </li>
      <li class="nav-item ">
          <a class="nav-link text-white " href="<%= purchase_credits_path %>">Buy Credits</a>
        </li>
        <% end %>
      <li class="nav-item">
        <a class="nav-link text-white" href="<%= events_path %>">Events</a>
      </li>
      <% if current_user.foodtruckowner? %>
        <li class="nav-item">
          <a class="nav-link text-white" href="<%= food_trucks_path %>">Food Trucks</a>
        </li>
      <% end %>
    <% else %>
      <li class="nav-item">
        <a class="nav-link text-white" href="<%= root_path %>">Home</a>
      </li>
    <% end %>

    <!-- Account Dropdown -->
    <li class="nav-item dropdown mt-3">
      <a class="nav-link dropdown-toggle text-white" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Account
      </a>
      <ul class="dropdown-menu dropdown-menu-dark">
        <% if current_user %>
          <li><a class="dropdown-item" href="<%= user_profile_path %>">View Profile</a></li>
          <li>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </li>
        <% else %>
          <li><a class="dropdown-item" href="<%= new_user_registration_path %>">Sign Up</a></li>
          <li><a class="dropdown-item" href="<%= new_user_session_path %>">Log In</a></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
