<!-- app/views/events/_event.html.erb -->

<div id="<%= dom_id event %>" class="mb-4 p-3 border rounded bg-white">
 <% if local_assigns[:show_name] %>
  <h5 class="card-title text-primary text-center"><%= event.name %></h5>
   <% end %>
  

  <p class="card-text">
    <strong>Description:</strong> <%= event.description %>
  </p>
  <p class="card-text">
    <strong>Address:</strong> <%= event.address %>
  </p>
  <p class="card-text">
    <strong>Expected Attendees:</strong> <%= event.expected_attendees %>
  </p>
  <p class="card-text">
    <strong>Number of Food Trucks:</strong> <%= event.foodtruck_amount %>
  </p>
  <p class="card-text">
    <strong>Start Date:</strong> <%= event.start_date.strftime('%B %d, %Y') %>
  </p>
  <p class="card-text">
    <strong>End Date:</strong> <%= event.end_date.strftime('%B %d, %Y') %>
  </p>

  <% if local_assigns[:show_latitude_longitude] %>
    <p class="card-text">
      <strong>Latitude:</strong> <%= event.latitude.present? ? event.latitude : "Not Set" %>
    </p>
    <p class="card-text">
      <strong>Longitude:</strong> <%= event.longitude.present? ? event.longitude : "Not Set" %>
    </p>
  <% end %>

  <!-- Conditionally Display Map -->
  <% if local_assigns[:show_map] && event.latitude.present? && event.longitude.present? %>
    <div class="map-container mt-4">
      <iframe
        width="100%"
        height="300"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/view?key=<%= Rails.application.credentials.google_maps[:api_key] %>&center=<%= event.latitude %>,<%= event.longitude %>&zoom=14" allowfullscreen>
      </iframe>
    </div>
  <% elsif local_assigns[:show_map] %>
    <p class="text-warning">Map not available for this event.</p>
  <% end %>
</div>
