<h1><%= @event.name %></h1>
<p><strong>Location:</strong> <%= @event.location %></p>
<p><strong>Date:</strong> <%= @event.date.strftime('%B %d, %Y %H:%M') %></p>
<p><strong>Expected Attendees:</strong> <%= @event.expected_attendees %></p>
<p><strong>Description:</strong> <%= @event.description %></p>

<% if @event.logo.attached? %>
  <strong>Logo:</strong>
  <%= image_tag @event.logo, width: 100, height: 100 %>
<% end %>

<p><strong>Number of Food Trucks:</strong> <%= @event.amount_of_food_trucks %></p>

<h2>Food Trucks:</h2>
<% if @event.food_trucks.any? %>
  <ul>
    <% @event.food_trucks.each do |food_truck| %>
      <li><%= food_truck.name %>: <%= food_truck.cuisine %></li>
    <% end %>
  </ul>
<% else %>
  <p>No food trucks assigned.</p>
<% end %>


<%= link_to 'Back to Events', events_path, class: 'btn btn-primary' %>

<%= link_to 'Delete', event_path(@event), method: :delete, data: { confirm: 'Are you sure you want to delete this event?' }, class: 'btn btn-danger' %>
