<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bitewheels" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
   

    
    <% if (controller_name == 'food_trucks' ) ||(controller_name == 'events') ||(controller_name == 'event_applications')%>
    <!-- Render Sidebar for Dashboard -->
    <div class="d-flex">
      <%= render 'shared/sidebar' %>
      <div class="flex-fill" >
        <%= yield %>
      </div>
    </div>
  <% else %>
    <!-- Render Top Navbar for Other Pages -->
    <%= render 'shared/top_navbar' %>
    <div class="flex-fill" >
      <%= yield %>
    </div>
    
  <% end %>
     
   <%= render 'shared/footer' %>
  </body>
</html>